/* <!-- section(7)STAR -->
    <!-- CONTACT US --> */
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body
{
    font-family: sans-serif;
}
.line1
{
    background-color: #ff305b;
    width: 70px;
    height: 0.5px;
    margin: auto;
}
.line2
{
    background-color: #ff305b;
    width: 140px;
    height: 1px;
    margin: 5px 605px 5px 605px;

}
.line3
{
    background-color: #ff305b;
    width: 70px;
    height: 1px;
    margin: auto
}
.scalee{
    width: 25%;
    height: 300px;
    float: left;
    text-align: center;
    padding-top: 100px;
}
.color-warm i
{
    color: #ff305b;
}
.caption-layer{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    left: 0%;
    top: 0%;
    opacity: 0;
    transition: all 1s;
}
.protfolio-item{
    cursor: pointer;
}
.protfolio-item:hover .caption-layer{
    opacity: 1;
}
.fas{
    color: #ff305b;
}
#file a.active{
    color: #ff305b;
    background-color: transparent;
}
#file a{
    color: black;
}
.scalee2{
    height: 250px;
    text-align: center;
    padding-top: 70px
}
.team-members{
    background-color: #f1f1f1;
    margin-top: 70px;
}
.card23{
    width: 750px;
    height: 274px;
    background-color: #f1f1f1;
}
.our-blog{
    background-color: #f1f1f1;
}
.btn{
    color: white;
    background-color: #ff305b;
}
.footer-background{
    background-color: #333333;
    width: 100%;
    height: 165px;
    margin-top: 50px;
}
.social-icons .fab{
    margin-top: 50px!important;
    color: white;
}
.social-icons p{
    color: white;
}
.footer-background span{
    color: #ff305b;
}
/* <!-- section(7)END --> */
    /* <!-- CONTACT US --> */